// ==========================================================================
// #Breakpoints
// ==========================================================================


//Box Sizing Prefixes
@mixin box-sizing($boxmodel) {
  -webkit-box-sizing: $boxmodel;
     -moz-box-sizing: $boxmodel;
          box-sizing: $boxmodel;
}

//Transitions
@mixin transition($tra) {
  -webkit-transition: $tra;
  	 -moz-transition: $tra;
  	  -ms-transition: $tra;
  	   -o-transition: $tra;
  		  transition: $tra;
}

// Transform Web-kit
@mixin transform($tsf) {
     -moz-transform: $tsf;
       -o-transform: $tsf;
      -ms-transform: $tsf;
  -webkit-transform: $tsf;
          transform: $tsf;
}

//Position Absolute
@mixin absolute-pos($coordinates: 0 0 0 0) {
  $top: nth($coordinates, 1);
  $right: nth($coordinates, 2);
  $bottom: nth($coordinates, 3);
  $left: nth($coordinates, 4);

  @if not(unitless($top)) {
    top: $top;
  }
  @if not(unitless($right)) {
    right: $right;
  }
  @if not(unitless($bottom)) {
    bottom: $bottom;
  }
  @if not(unitless($left)) {
    left: $left;
  }
  position: absolute;
}

//Box Size
@mixin box-size($width, $height: $width) {
  width: $width;
  height: $height;
}