// ==========================================================================
// #Extends
// ==========================================================================

// Navigation

%nav-block {
	position: absolute;
    z-index: 100;
    display: block;
    width: 100%;
    text-align: center;
    background-color: #292929;

    @include transition(all 0.2s ease);
    @include transform(translateY(-120%));

	@include media-query(medium) {
        position: inherit;
        width: inherit;
        @include transform(inherit);
        translateY:inherit;
	}

	@include media-query(large) {
		float: left;
	}
}// nav-block

%nav-list {

}

%nav-item {
	text-align: center;
    @include media-query(medium) {
    	float: left;
        text-align: inherit;
    }
}

%nav-link {
	font-weight: bold;

    display: block;
    padding: 10px 15px;

    transition:color, background-color, .15s linear;
    transition-property: color, background-color;
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;

    color: #777777;

}

%nav-active {
	color: #FFF;
    background-color: $brand-color;
}

.container {
	@include container;
    position:relative;  
}