// ==========================================================================
// #Footer
// ==========================================================================

.site-footer {
	@include break;

	// Top Footer
	&__col {
		@include span(12);
		margin-bottom: gutter(4);
		@include media-query(medium) {
			margin-bottom: inherit;
			@include span(4);
			&:last-child {
				@include last;
			}
		}
	}

	&__links {
		background-color: #222222;//#404040;
    	padding: 40px 0;
	}

	&__header {
		color: #ddd;
    	font-weight: 700;
    	letter-spacing: .5px;
    	font-size: 1.1em;
	}

	&__about {
		color: white;
		font-size: .9em;
	}

	&__nav {
		&--link{
			color: #dcdcdc;
		}
	}

	&__site-links {
		@include media-query(medium) {
	    	padding-left: 95px;
		}
	}

	&__input-form {
		background: #d35400;
		color: white;

	}


	//Bottom Footer 
	&__bar {
		background-color: #171717;//#111;//#333333;
    	padding: 20px 0;
    	color: white;
    	line-height: 2.2em;
    	@include span(12);
	}	 

	&__copyright {
		text-align: center;
		font-size: .9em;
		@include media-query(medium){
			float: left;
		}
	}

	//Social Icons
	&__social-icons-l {
		display: inline-block;

	}

	&__social-icon {
		display: block;
	    width: 33px;
	    height: 33px;
	    border-radius: 50%;
	    padding-top: 11px;
	    color: #fff;
	    font-size: .85em;
	    line-height: .85em;
	    text-align: center;
	    margin-left: 9px;
	    transition: .5s ease-in-out;
	}

	&__social-icons {
		text-align: center;
		@include media-query(medium) {
			float: right;
		}
	}

}