// ==========================================================================
// #Sections
// ==========================================================================

.section {

	&--site-page {
		margin: 30px 0;
		@include media-query(medium) {
			margin: 40px 0;
		}
		@include media-query(large) {
			margin: 50px 0;
		}

	}

}