// ==========================================================================
// #Sections
// ==========================================================================

.section {

	// Wraps the whole site
	&--site-page {
		@include susy-clearfix;	
		margin-top: 30px;
		margin-bottom: 30px;

		@include media-query(medium) {
			margin-top: 40px;
			margin-bottom: 40px;
		}
		@include media-query(large) {
			margin-top: 50px;
			margin-bottom: 50px;
		}

	}

	// Just for the section
	&__page-full {
		@include susy-clearfix;	
		@include span(12 gutter);
	}

	// Add's the card style
	&--card {
		@include susy-clearfix;	
		padding: 30px 20px 35px 20px;
		margin-bottom: 32px;
	    background-color: #FFF;
	    border: 1px solid #eaeaea
    }


    //Main and sidebar
    &--main-content {
    	@include span(9);
    }

    &--sidebar {
    	@include span(3);
    }

}

.section-wrap {
	@include susy-clearfix;	
	@include span(12); 
}