// ==========================================================================
// #Master Head
// ==========================================================================

.mast-head {
	
	@include susy-clearfix;	 
	margin-bottom: gutter(6);
	&--inner {
		@include susy-clearfix;	 
	}

	//Main Content
	&__main-section {
	    @include span(12);
	    @include media-query(medium) {
	        @include span(12);
        }
        @include media-query(large) {
  			@include span(8);
    	}
	}
	&__main-content {
		position: relative;
    	overflow: hidden;
        height: 316px;
        @include media-query(medium) {
        	height: 360px;
        }
        @include media-query(large) {
  			height: 364px;
    	}
	}

	&__main-img {
	 	background: center center;
		background-size: cover;
		height: 100%;
		width: 100%;
	}

	&__main-caption {
 		ptop: auto;
	    right: auto;
	    bottom: 0;
	    left: auto;
	    position: absolute;
	    background: rgba(0, 0, 0, 0.8);
	    color: white;
	    display: block;
	    width: 100%;
	    padding: 28px 3%;
	    z-index: 3;
	    cursor: pointer;
	}

	//Extra Section
	&__extra-section {
		display: none;
		@include media-query(large) {
			@include span(4);
			display: block;
		}
	}

	&__extra-content {
		position: relative;
   	 	overflow: hidden;
		&--top {
		position: relative;
   	 	overflow: hidden;
		}

		&--bottom {
		position: relative;
   	 	overflow: hidden;
		}

	}

	&__extra-equalh {
		height: 143px;
    	margin-bottom: gutter(2);
    	&:last-child {
    		margin-bottom: 0;
    	}
    	@include media-query(medium) {
    		height: 170px;
    	}
	}

	&__extra-img {

	}

	&__extra-caption {
		top: 50%;
	    right: 50%;
	    bottom: 0;
	    left: auto;
	    position: absolute;
	    @include transform(translateX(50%));
	}


}