// ==========================================================================
// #Extends
// ==========================================================================

// Navigation

%nav-block {
	display: block;
	text-align: center;
    position: absolute;
    z-index: 100;
    width: 100%;
    background-color: #292929;

    @include transition(all 0.2s ease);
    @include transform(translateY(-120%));

	@include media-query(medium) {
        transform: inherit;
        translateY: inherit;
        width: inherit;
        position: inherit;
	}

	@include media-query(large) {
		float: left;
	}
}// nav-block

%nav-list {

}

%nav-item {
	text-align: center;
    @include media-query(medium) {
    	float: left;
    	text-align: inherit;
    }
}

%nav-link {
	color: #515e65;
    padding: 10px 15px;
    font-weight: bold;
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    transition-property: color, background-color;
    display: block;
    transition: color, background-color, .15s linear;

}

%nav-active {
	color: #FFF;
    background-color: $main-color;
}

.container {
	@include container;
}