// ==========================================================================
// #Header
// ==========================================================================

$header-bg-color : #2f2f2f;
$nav-bg-color: #292929;

.site-header {

	&__head {
		position: relative;
   		z-index: 9999;
    	padding: 7px 0;
    	background-color: $header-bg-color;
		@include span(12);
	}

	&__navigation {
		background-color: $nav-bg-color;
		@include span(12);
	}

	&__logo {
		font-size: 1.45rem;
    	font-weight: bold;

    	text-decoration: none;
    	text-transform: uppercase;

    	color: white;
	}

	&__hamburger {
		position: absolute;
	    z-index: 1;
	    top: 50%;
	    right: 0;

	    width: 30px;
	    height: 30px;
	    padding: 0;

	    cursor: pointer;
	    @include transition(opacity 600ms 0s ease, top 600ms 0s ease);
	    @include transform(translateY(-50%));

	    border: 0;
	    background: none;

	    @include media-query(medium) {
	    	display: none;
	    }
	    &--bar {
			&,		
			&:before,
			&:after {
				position: absolute;
			    left: 0;

			    width: 100%;
			    height: 2.5px;
			    margin-top: -1px;

			    @include transition(background 300ms 0s ease, transform 300ms 0s ease, top 300ms .2s ease, bottom 300ms .2s ease);

			    border-radius: 3px;
			    background-color: #ff7940;
			}
			&:before,
			&:after {
			    content: " ";
			}
			&:before {
			    top: -8px;
			}
			&:after {
				bottom: -9px;
			}
		}// bar

		&.is-active .site-header__hamburger--bar {
			& {
				background:rgba(255, 8, 8, 0);
			}
			&:before,
			&:after {
			    @include transition(background 300ms 0s ease, @include transform (300ms 0.2s ease), top 300ms 0s ease, bottom 300ms 0s ease;)
			}
			&:before {
				top: 0;
				@include transform(rotate(45deg));
			}
			&:after {
				bottom: 0;
			    @include transform(rotate(-45deg));
			}
		} //hamburger bar toggle
	}//hamburger toggle

	&__search {
		display: none;
		float: right;
		@include media-query(medium) {
			display: block;
		}
	}

}