// ==========================================================================
// Sussy & Breakpoints
// ==========================================================================
@import "./bower_components/susy/sass/_susy.scss";
@import "./bower_components/breakpoint/breakpoint/_breakpoint.scss";
@import "./bower_components/components-font-awesome/scss/font-awesome.scss";

body {
	color: red;
}

$susy: (
  columns: 12,
  gutters: .25,
  container: 1170px
);

main {
	@include container;

}

div {
	@include span(8);
}

aside {
	@include span(4 last);
}

.main-footer {
	@include container;
}

.fot-col {
	@include span(4);
	&:last-child {
        @include last;
    }
}