@font-face{
    src: url(/assets/modules/general/font/proximanova-bold-webfont.ttf);
    font-family: Proxima Nova;
    font-weight: 700;
}
@font-face{
    src: url(/assets/modules/general/font/proximanova-regular-webfont.ttf);
    font-family: Proxima Nova;
}
@font-face{
    src: url(/assets/modules/general/font/proximanova-light-webfont.ttf);
    font-family: Proxima Nova;
    font-weight: 300;
}

@font-face{
    src: url(/assets/modules/general/font/proximanova-regularitalic-webfont.ttf);
    font-family: Proxima Nova;
    font-weight: 400;
    font-style: italic;
}
@font-face{
    src: url(/assets/modules/general/font/proximanova-semibold-webfont.ttf);
    font-family: Proxima Nova;
    font-weight: 600;
}